.container {
  position: fixed;
  right: 0;
  bottom: 200px;
  z-index: 9999;
  text-align: left;
  border-radius: 32px 0 0 32px;
  background-color: #fff;
}

.full-screen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: 10000;
}

.toggle {
  height: 34px;
  line-height: 1;
  padding: 5px 4px 5px 10px;
  border-radius: 32px 0 0 32px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 0 3.2px 12px 0 rgba(0, 0, 0, 0.08), 0 5px 25px 0 rgba(0, 0, 0, 0.04);

  &:hover {
    background-color: rgb(104, 65, 234, 0.2);
  }

  img {
    vertical-align: middle;
  }
}
